#share-box {
	position: fixed;
	top: 100%;
	z-index: 1000;
	/*width: 90%;
	height: 90%;*/
	left: 25%;
}

#share-box-filter {
	width: 100%;
	height: 24pt;
	font-size: large;
}

#share-box-users, #share-box-share {
	background-color: #ffffff;
	border: 1px solid #000000;
	width: 100%;
	min-height: 250px;
}

#share-box-filter, #share-box-users, #share-box-share {
	margin-bottom: 15px;
}

.share-box-users-item, .share-box-share-item {
	background-color: #3255fe;
	display: inline-block;
	float: left;
	border: 1px solid #000000;
	color: #ffffff;
}

#share-box-button, #share-box-close {
	float: left;
	margin-left: auto;
	margin-right: auto;
}
